# Ignorar outputs de modelos entrenados
/app/models/model_output/

# Ignorar datos grandes
/data/CSVfile/
/data/CSVfilefiltered/
/data/CSVsTraining/
/data/ResultadosFiltered/
/data/ResultadosLabeled/
/data/LotesFallits/

# Otros archivos comunes
*.log
*.csv
*.pkl
*.h5

# VSCode
.vscode/

#__pycache__/
app/__pycache__/
app/services/__pycache__/

# Sistema
.DS_Store
Thumbs.db

# Config
.env
config.init
